@(tasks: Seq[(models.Task, models.User)])(implicit request: RequestHeader, flash: Flash)

@main("Task List") {
    <h2> Task List </h2>

    <ul>
        @for((task, user) <- tasks) {
            <li> @task.text </li>
            <form method="post" action="@routes.Application.deleteTask">
                <input type="hidden" name="index" value="@task.id"></input>
                <input type="submit" value="Delete"></input>
            </form>
        }
    </ul>

    <form method="post" action="@routes.Application.addTask">
        <input type="text" name="NewTaskInput"> </input>
        <br>
        <input type="submit" value="add task"> </input>
    </form>

    <div>
        <a href="@routes.Application.logout">Logout</a>
    </div>
}